<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean definition -->
    <bean id="myBean" class="com.example.springbean.MyBean">
        <!-- You can also set properties here -->
        <property name="message" value="Hello from Spring XML Configuration!" />
    </bean>

</beans>
