<div class="container mt-5">
  <h1 class="text-center mb-4 display-4 text-primary">Client Management System</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="card shadow mb-4 border-success">
        <div class="card-body">
          <h2 class="card-title text-center text-success">Create a Client</h2>
          <app-client></app-client>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow mb-4 border-info">
        <div class="card-body">
          <h2 class="card-title text-center text-info">Schedule a Meeting</h2>
          <app-meeting></app-meeting>
        </div>
      </div>
    </div>
  </div>
</div>
