

<router-outlet />


<mat-card appearance="outlined">
  <mat-card-header>
  <mat-card-title>  {{title | uppercase}}
  </mat-card-title>
  <mat-card-subtitle>{{subtitle | lowercase}}</mat-card-subtitle>
  <br>
  <br>

  
</mat-card-header>
<mat-card-actions></mat-card-actions>


<mat-card-content><app-home></app-home>
  <span>{{todayDate | date}}</span>
  <span>{{todayDate | date:'short'}}</span>
  <br>
  <span>{{salary | currency:'EUR'}}</span>
  <br>
  <span>{{title | reverse }}</span>
</mat-card-content>
<mat-card-actions></mat-card-actions>
</mat-card>
