<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define the Printer bean with custom init and destroy methods -->
    <bean id="printer" class="com.example.Printer" init-method="connectPrinter" destroy-method="disconnectPrinter">
        <property name="printerName" value="HP LaserJet" />
    </bean>

</beans>
